*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

p{
    font-size: 14px;
    line-height: 170%;
}

h4{
    font-size: 18px;
    margin: 0px;
}

h5{
    font-size: 14px;
    margin-bottom: 8px;
}

img{
    max-width: 100%;
}


/* ----------------------------- Struttura ----------------------------- */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1040px;
    margin: 0 auto;
}


.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}


.st-46{
    margin-top: 46px!important;
}

.col-4{
    flex: 4;
}

.col-6{
    flex: 6;
}


.col img{
    width: 100%;
}


.content-start{
    justify-content: start;
}


.items-center{
    align-items: center;
}


.py-100{
    padding: 100px 0px;
}


/* ----------------------------- Bottoni ----------------------------- */

.btn{
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
}

/* Bottone primario */
.primary-btn{
    background-color: #0261ff;
    color: #fff;
    text-align: center;
}

.primary-btn.fixed-width{
    max-width: 290px;
}

/* Fine Bottone primario */

/* Bottone secondario */
.secondary-btn{
    border: 2px solid lightgrey;
    color: lightgray;
}

/* Fine Bottone secondario */

/* Radio btn */
.btn.menu-btn{
    padding: 8px 24px;
}

.radio-btn .icon:before{
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid lightgray;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    box-sizing: border-box;
}

.radio-btn .icon:active:before{
    border: 5px solid #0261ff;
    box-sizing: border-box;
}

.radio-btn .icon:focus-visible:before{
    border: 5px solid #0261ff;
    box-sizing: border-box;
}

.radio-btn .icon{
    display: flex;
    align-items: center;
}

.radio-btn{
    display: flex;
    column-gap: 16px;
    margin: 56px 0px;
}



/* ----------------------------- Nav ----------------------------- */
header{
    background-color: #fff;
    padding: 0px 10px;
    font-size: 14px;
}

header a{
    text-decoration: none;
    color: #636363;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav #menu-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    padding-left: 16px;
}

header nav li{
    display: inline-block;
    padding: 0px 16px;
}

/* ----------------------------- Hero ----------------------------- */
#hero{
    height: 100%;
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}

#hero h1{
    font-size: 3.5em;
}

#hero .col:first-child{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero .col:last-child{
    flex: 7;
}

#hero i{
    font-size: 36px;
}

.info-container{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ----------------------------- Tabs ----------------------------- */
.plans-section{
    margin: 10vw 0px;
}

.plans-section h4{
    margin-bottom: 12px;
}

.tab{
    border: 1px solid lightgray;
    width: calc( (100% / 3) - 36px );
    font-size: 12px;
}

/* tab 100% */
.tab.w-100{
    width: 100%;
    margin-top: 50px;
}

.tab.w-100 .tab-body{
   display: flex;
   align-items: flex-start;
   padding: 20px;
}

.tab.w-100 .tab-body div:first-child{
    flex: 7;
    padding-right: 36px;
 }

 .tab.w-100 .tab-body a{
    flex: 3;
 }

 /* Fine tab 100% */

.tab-header{
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.tab i{
    font-size: 12px;
}

.tab-body{
    padding: 8px 24px;
}

.tab-body ul{
    padding: 0px;
    list-style-type: none;
}

.tab-body li{
    padding: 12px 0px;
    display: flex;
    column-gap: 5px;
    align-items: baseline;
}

.tab-body p{
    margin: 0px;
}

hr{
    width: 20%;
    color: #636363;
    margin: 36px 0px;
}

.fa-check{
    color: #0261ff;
}

 /* Partners */

 .partner{
    padding: 140px 0px;
 }

 .partner .col{
    padding: 24px;
 } 

 .partner .col.col-4 *{
    margin: 12px 0px;
 } 

 .partner:first-child{
    padding-left: 0px;
 } 

 /* features */
 .feature .feature-box{
    width: calc((100% /3 ) - 16px );
    margin-top: 36px;
 }

 .feature .row{
    column-gap: 16px;
 }


  /* Clients */
  .column{
    background-color: #f5f5f5;
  }

 .clients .col{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
 }

 .clients .client-box:not(.column){
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .clients .client-box:not(.column) img{
    width: 50%;
    filter: invert(100%);

 }

 .green{
    background-color: #a1d39b;
 }

 .amaranto{
    background-color: #61072b;
 }

 .azure{
    background-color: #0093ce;
 }

 .red{
    background-color: #ff1b1d;
 }
 
 .dark-red{
    background-color: #d5011f;
 }
 
 .light-blue{
    background-color: #b4d0e7;
 }

 .blue{
    background-color: #0d2481;
 }

 .yellow{
    background-color: #ffd830;
 }